html, body

{

  background-color: lime;

  color: black;
  
  font-size: medium;

  font-family: Abadi, Jumble, Posterama;
  
  height: 100%;

}

h1

{

  color: grey;
  font-weight: bold;

}

em

{

  color: blue;

}

ol, ul

{

  color: orange;
  
  font-weight: bold;

}

