html, body {
  background-color: cyan;
  color: black;
  font-size: medium;
  font-family: Abadi, Jumble, Posterama;
  height: 100%;
}

h1 {
  color: grey;
  font-weight: bold;
}

em {
  color: blue;
}

ol, ul {
  color: orange;
  font-weight: bold;
}

#fussbereich {
  bottom: 0;
  background-color: purple;
  padding: 16px;
  margin-top: 64px;
}

h4 {
  color: dark-blue;
  font-weight: light;
}