html, body

{

  background-color: red;

  color: black;
  
  font-size: medium;

  font-family: Abadi, Jumble, Posterama;
  
  height: 100%;

}

h1

{

  color: grey;
  font-weight: bold;

}

em

{

  color: green;

}

ol, ul

{

  color: orange;
  
  font-weight: bold;

}

h4


{

colour: dark-blue;

font-weight: light

}